/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

body{
	max-width: 100%;
}

/* HEADER SIZE AND FONT STYLING */

h1 {
	font-size: 2.027rem;
	font-family: Lato, sans-serif;
} 

h2 {
	font-size: 1.802rem;
	font-family: Lato, sans-serif;
}

h3{
	font-size:1.424rem;
	font-family: Lato, sans-serif;
}

h4{
	font-family: Lato, sans-serif;
}

h5{
	color: #d69e3d;
	font-family: Lato, sans-serif;
	font-size: 17px;
}

p {
	font-family: Karla, sans-serif;
}

img{
	max-width: 100%;
}

header{
    background:black;
}

/* CENTERING AND SPACING LOGO */

.logo {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.logo {
  animation: scaleIn 1.3s ease forwards; /* 1.5 second scale animation */
}


/*defines my scale animation*/
@keyframes scaleIn { 
  from {
    transform: scale(0.2); /* 0.2 is the scale it starts at */
  }
  to {
    transform: scale(1); /* 1 is where it finishes at */
  }
}

nav {
	color: white;

}

main {
	background-color: #f3f0e9;
}

/* NAVIGATION SECTION 
making space between nav links and keeping them in a row */
nav ul {
	display: flex;
	flex-direction: row;
	padding: 30px;
	justify-content: space-evenly;
	font-family: lato;
	animation: scaleIn 2.4s ease forwards; /* 2.4 second scale animation */
}

li a {
	text-decoration: none;
	color: white;
}	

/* EXPLORE SECTION
using the image as a dark background and to put the text over it */
.explore {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/hero-background.jpg");
	background-position: center;
	background-size: cover; /*keeps the image the same as the example */
	text-align: center;

}

.explore h2 {
	display:flex;
	color: white;
	font-family: lato;
    font-weight: 900;
	padding-bottom: 1rem; /*space between text and header */
	padding-top:11rem; /*puts space between the text and nav, also enlarging the image to match example */
	padding-inline: 4rem;
	text-align: center;
}

.explore p {
	color: white;
	font-family: Karla;
	text-align: center;
	padding-bottom: 2rem;
	padding-inline: 6.5rem; /*to keep the text looking like the example */
}

.explore button { 
	background-color: white;
	color: black;
	font-family: Karla;
	justify-content: center;
	align-items: center;
	padding: 15px 30px; /*makes the button as big as the one in the example */
	margin-bottom: 4rem; /*puts space between the button and the bottom of the section */
	border: none;
	font-weight: 900; /*makes the text bold */
	font-size:large; 
	animation: scaleIn 3.2s ease forwards; /* 3.2s scale animation to make the animations seem to go downwards */
}

.explore button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: 0.3s; /* animates the button's hover transition to black */
}

.welcomehead {
	background-color: #f3f0e9;
	padding-top: 5rem;
	padding-bottom: 1rem;
}

.welcome {
	background-color: #f3f0e9;
	padding-left: 0.5rem; /*padding pushes images inward to create the background border between images and sides */
	padding-bottom: 2rem;
	padding-right: 0.5rem;
	font-weight: 600;
}

.images {
	padding-top: 2.3rem; 
	padding-bottom: 1.5rem;
}

.grid {
	display: grid; 
	grid-template-columns: 1fr 1fr; /* puts the 4 images into a 2x2 grid underneath the large one with gap and padding adding spacing between */
	gap: 1rem;
	padding-top: 1rem;
}

.offerhead {
	background-color: #f3f0e9;
	padding-top: 1rem;
	text-align: center;
}

.offerhead h5 { 
	padding-top: 1rem;
	font-size: 15px;
}

.offerhead h4 {
	font-size: 30px;
	padding-top: 10px;
	font-weight: 600;
	padding-bottom: 4rem;
}

.one {
	background-color: #f3f0e9;
	display: flex; /*allows to center the image, text, and to keep everything in a column */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px; /*space between text and header */
}

.one p {
	max-width:400px; /* keeps the text within a certain space to keep it exactly how it looks in the example */
	text-align: center;
}

.one h3 {
	padding-top: 10px;
	font-size: 30px;
	font-weight: 700; 
}

.one img {
	width: 150px;
}

.two {
	background-color: #f3f0e9; /*i just copy and pasted the first one */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding-top: 100px;	
}

.two p {
	max-width: 420px; 
	text-align: center;
}

.two img {
	width: 150px;
}

.two h3 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 10px;
}

.three {
	background-color: #f3f0e9; /* copy pasted the second one */
	padding-top: 100px;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 100px;
}

.three img {
	width: 150px;
}

.three p {
	padding-top: 10px;
	max-width: 450px;
	text-align: center;
}

.three h3 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 30px;
}

.menu {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/coffee-shop.jpeg"); /*uses the image and sets it darker using the gradient */
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-bottom: 100px;
}

.menu h5 {
	padding-top: 70px; 
	padding-bottom: 15px;
}

.menu h3{
	color: white;
	font-weight: 700;
	text-align: center;
	padding-inline: 80px;
}

.menu button {
	background-color: white;
	color: black;
	font-family: Karla; /* uses the karla font for the button */
	justify-content: center;
	align-items: center;
	padding: 15px 30px; /*sets the size of the button */
	margin-top: 2.5rem;
	border: none;
	font-weight: 900;
	font-size:large;
}	

.menu button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: 0.3s; /* animates the button's hover transition to black */
}

.menu .button { 
	background-color: black; 
	color: white;
	border: 2px solid white;
}

.menu .button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.3s; /* animates the button's hover transition to white*/
}

.storys {
	background-color: #f3f0e9;
	margin-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

.storys h5 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.storys h3 {
	font-weight: 700;
	padding-bottom: 10px;
}

.storys p {
	padding-top: 8px;
	padding-bottom: 15px;
}

.storys button {
	background-color: black;
	color: white;
	border: 2px solid white;
	font-family: Karla;
	justify-content: center;
	align-items: center;
	padding: 15px 30px;
	margin-top: .5rem;
	margin-bottom: 5rem;
	border: none;
	font-weight: 900;
	font-size:large; /* sets the text size */
}

.storys button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.3s; /* animates the button's hover transition to black */
}

.testihead {
	background-color: black;
	
}

.testihead h5 {
	padding-left: 10px;
	padding-top: 80px;
}

.testihead h3 {
	padding-top: 15px;
	padding-left: 10px;
	color: white;
	font-weight: 700;
	width: 70%;
	padding-bottom: 40px;
}

.testis {
	background-color: black;
	padding: 10px;
	padding-bottom: 100px;
}

.jane {
	position: relative; 
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/testimonial-1.jpeg");
	background-position: center;
	background-size: cover; /*ensures the correct portion of the picture is shown */
	text-align: center;
	height: 500px; 
	color: white;
}

.jane p {
	position: absolute;
	bottom: 50px;
	text-align: left;
	padding: 25px;
}


.jane h5 {
	position: absolute;
	bottom: 20px;
	padding: 25px;
}

.scott {
	margin-top: 20px; /* puts space between scott and jane */
	position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/testimonial-2.jpeg");
	background-position: top;
	background-size: cover;
	height: 500px;
	color: white;
}

.scott p {
	position: absolute;
	bottom: 50px;
	text-align: left;
	padding: 25px;
}


.scott h5 {
	position: absolute;
	bottom: 20px;
	padding: 25px;
}

.susie {
	margin-top: 20px;	
	position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/testimonial-3.jpeg");
	background-position: top;
	background-size: cover;
	height: 500px;
	color: white;
}

.susie p {
	position: absolute;
	bottom: 50px;
	text-align: left;
	padding: 25px;
}


.susie h5 {
	position: absolute;
	bottom: 20px;
	padding: 25px;
}

.line {
    height: 1px;
    background-color: #333;  /* Slightly lighter than black */
    width: 100%;
}

footer {
    background-color: black;
    color: #fff; /*copyright text colour */
    padding: 20px 0; 
    text-align: center; 
    width: 100%; 
    border-top: 1px solid #484848; /*makes that really cool looking line */
	padding-bottom: 50px;
}
